In [15]:
import pandas as pd
import numpy as np
import requests
import json
import pprint
from datetime import date
from datetime import timedelta
from collections import OrderedDict
from bs4 import BeautifulSoup as bs
import time
from yahoo_fin.stock_info import tickers_sp500, get_data, get_splits
from os import listdir
from os.path import isfile, join
import re

In [16]:
list_tickers = tickers_sp500()
df = pd.read_csv('C:\\Users\\ksn\\fin\\sp500\\A.csv', usecols=['Date'])
df.head()

         Date
0  2005-01-03
1  2005-01-04
2  2005-01-05
3  2005-01-06
4  2005-01-07

In [17]:
mypath = 'C:\\Users\\ksn\\fin\\sp500\\'
files = [i for i in listdir(mypath) if isfile(join(mypath, i))]

for i in files:
    df2 = pd.read_csv(mypath + i, usecols=['Date', 'Close'])
    i = re.sub('\.csv', '', i)
    df2.columns = ['Date', i]
    df = pd.merge(df, df2, how='left', on='Date')
    
df.to_csv('all.csv', index=False)

In [1]:
# dict_tickers = {}

# for i in list_tickers:
#     print(i)
#     if i not in {'BF.B', 'HWM', 'LUMN'}:
#         try:
#             ticker_old = get_data(str(i), start_date="20/11/2015", end_date="25/11/2015", index_as_date = True, interval="1d")
#             # print(ticker_old.close[-1])
#             ticker_now = get_data(str(i), start_date="23/12/2020", end_date="28/12/2020", index_as_date=True, interval="1d")
#             # print(ticker_now.close[-1])
#             dict_tickers[ticker_now.ticker[-1]] = round((ticker_now.close[-1]/ticker_old.close[-1] - 1)*100, 2)
#             print(dict_tickers[ticker_now.ticker[-1]])
#         except AssertionError:
#             pass

In [2]:
# dict_tickers = sorted(dict_tickers.items(), key=lambda item: item[1], reverse=True)
# dict_tickers

In [7]:
get_splits("msft")

           splitRatio ticker
1987-09-21        2:1   MSFT
1990-04-16        2:1   MSFT
1991-06-27        3:2   MSFT
1992-06-15        3:2   MSFT
1994-05-23        2:1   MSFT
1996-12-09        2:1   MSFT
1998-02-23        2:1   MSFT
1999-03-29        2:1   MSFT
2003-02-18        2:1   MSFT